<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.JediDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JediData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayer.Properties.Settings.JediTournamentBDDConnectionString"
            connectionString="Data Source=reseaug5.database.windows.net;Initial Catalog=JediTournamentBDD;User ID=Adrien"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>