<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JediTournamentConsole.Properties.Settings.JediTournamentBDDConnectionString"
            connectionString="Data Source=reseaug5.database.windows.net;Initial Catalog=JediTournamentBDD;User ID=Adrien"
            providerName="System.Data.SqlClient" />
        <add name="JediTournamentConsole.Properties.Settings.BDDReseau"
            connectionString="Data Source=reseaug5.database.windows.net;Initial Catalog=JediTournamentBDD;User ID=Reseau;Password=JediTournamentEntities2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
